.reviewSetContainer {
  margin: 20px 0 0;
  background-color: #fff;
  border-radius: 5px;
  min-height: 80vh;
  max-height: 80vh;

  .reviewItem {
    padding: 10px 20px;
    border: 2px solid #ebf0f6;
    margin: 20px 25px;
    border-radius: 5px;
    transition: 0.3s ease-in-out all;
    height: 48px;
    max-height: 600;
    overflow: hidden;

    span {
      font-size: 14px;
      color: rgb(167, 167, 167);
    }

    img {
      width: 15px;
    }

    &:hover {
      border: 2px solid #cde3fd;
      transition: 0.3s ease-in-out all;
    }

    button {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      cursor: pointer;
      transition: 0.3s ease-in-out all;
    }

    .expandButton {
      float: left;
      margin: 3px 0 -10px;
      display: flex;

      div {
        height: 15px;
        width: 3px;
        background-color: #ccc;
        transition: 0.3s ease-in-out all;
      }

      #expand2 {
        margin: 0 0 0 -3px;
        transform: rotate(90deg);
      }
    }

    .removeButton {
      border: none;
      opacity: 0.3;

      img {
        margin: -5px 0 0;
      }

      &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }


  }

  .expanded {
    border: 2px solid #cde3fd;
    transition: 0.3s ease-in-out all;
  }
}