.reviewSetContainer {
  margin: 20px 0 0;
  background-color: #fff;
  border-radius: 5px;
  overflow-y: scroll;
  min-height: 80vh;

  .reviewItem {
    padding: 10px 20px;
    border: 2px solid #EBF0F6;
    margin: 20px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out all;

    span {
      font-size: 14px;
      color: rgb(167, 167, 167);
    }

    b {
      cursor: pointer;
    }

    img {
      width: 15px;
    }

    &:hover {
      border: 2px solid #cde3fd;
      transition: 0.3s ease-in-out all;
    }

    .documentsContainer {
      margin: 20px 0 10px;

      .documentWrapper {
        padding: 0 15px 0 0;

        .addDocument {
          border: 2px dashed #cde3fd;
          height: 300px;
        }
      }
    }

  }
}